<div class="card">
    <div class="logo">
        <div class="img">
            <img src="uploads/<%= data.logo_location %>" class="logo" alt="logo for <%= data.bname %>">
        </div>
        <div class="headlines">
            <h1><%= data.bname %></h1>

            <% if(data.tlocation != '') { %>
                <a target="_blank" href="<%= data.llocation != "" ? data.llocation : `https://www.google.com/maps/place/${data.tlocation.split(' ').join('+')}` %>">
                    <%= data.tlocation %>
                </a>
            <% } %>
        </div>
    </div>
    <div class="info">
        <div class="text">
            <p>
                <%= data.description %>
            </p>
            <ul>
                <% if(data.whatsapp != '') { %>
                    <li>
                        <i class="fab fa-whatsapp"></i>
                        <a
                            target="_blank"
                            href="https://api.whatsapp.com/send?phone=<%= data.whatsapp %>"
                        >
                            <%= data.whatsapp %>
                        </a>
                    </li>
                <% } %>
                <% if(data.bemail != '') { %>
                    <li>
                        <i class="far fa-envelope"></i>
                        <a
                            target="_blank"
                            href="mailto:<%= data.bemail %>"
                        >
                            <%= data.bemail %>
                        </a>
                    </li>
                <% } %>
                <% if(data.btel != '') { %>
                    <li>
                        <i class="fas fa-phone"></i>
                        <a
                            target="_blank"
                            href="tel:<%= data.btel %>"
                        >
                            <%= data.btel %>
                        </a>
                    </li>
                <% } %>
                <% if(data.facebook_username != '') { %>
                    <li>
                        <i class="fab fa-facebook"></i>
                        <a
                            target="_blank"
                            href=<%= data.facebook_link !== '' ?
                                data.facebook_link :
                                "https://www.google.com/search?q=" + data.facebook_username + "+site%3Afacebook.com"
                            %>
                        >
                            <%= data.facebook_username %>
                        </a>
                    </li>
                <% } %>
                <% if(data.instagram_username != '') { %>
                    <li>
                        <i class="fab fa-instagram"></i>
                        <a
                            target="_blank"
                            href=<%= data.instagram_link !== '' ?
                                data.instagram_link :
                                "https://www.google.com/search?q=" + data.instagram_username + "+site%3Ainstagram.com"
                            %>
                        >
                            <%= data.instagram_username %>
                        </a>
                    </li>
                <% } %>
                <% if(data.twitter_username != '') { %>
                    <li>
                        <i class="fab fa-twitter"></i>
                        <a
                            target="_blank"
                            href=<%= data.twitter_link !== '' ?
                                data.twitter_link :
                                "https://www.google.com/search?q=" + data.twitter_username + "+site%3Atwitter.com"
                            %>
                        >
                            <%= data.twitter_username %>
                        </a>
                    </li>
                <% } %>
                <% if(data.tiktok_username != '') { %>
                    <li>
                        <i class="fab fa-tiktok"></i>
                        <a
                            target="_blank"
                            href=<%= data.tiktok_link !== '' ?
                                data.tiktok_link :
                                "https://www.google.com/search?q=" + data.tiktok_username + "+site%3Atiktok.com"
                            %>
                        >
                            <%= data.tiktok_username %>
                        </a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</div>