<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/top') %>
    <meta name="robots" />
    <meta name="og:title" content="<%= data.bname %>">
    <meta name="keywords" content="<%= data.bname %>" />
    <meta name="description" content="<%= data.bname %>, <%= data.description %> BCARD" />
    <meta name="robots">
    <link rel="icon" href="uploads/<%= data.logo_location %>" />
    <link rel="stylesheet" href="../css/bcards-css/<%= data.bcard_type %>.css">
    <title><%= data.bname %> || D&M Bcard</title>
</head>

<body>
    <div>
        <% if(data.bcard_type == 'basic') { %>
            <%- include('../partials/bcards/basic') %>
        <% } else if(data.bcard_type == "innovative") { %>
            <%- include('../partials/bcards/innovative') %>
        <% } else if(data.bcard_type == "smooth") { %>
            <%- include('../partials/bcards/smooth') %>
        <% } else if(data.bcard_type == "classic") { %>
            <%- include('../partials/bcards/classic') %>
        <% } %>
    </div>
<script>
let root = document.documentElement.style;
root.setProperty('--text-color', "<%= data.colors.color %>");
root.setProperty('--bg-color', "<%= data.colors.bg %>");
root.setProperty('--text-color-special', "<%= data.colors.special_color %>");
root.setProperty('--bg-color-special', "<%= data.colors.special_bg %>");

</script>
<script src="../js/bcard.js"></script>
<%- include('../partials/bottom') %>