<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/top') %>
    <meta name="robots" content="noindex">
</head>
<style>
    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        align-items: stretch;
        min-height: calc(100vh - 60px);
    }
    .content > div {
        flex: 1;
    }
    @media (max-width: 600px){
        .content {
            flex-direction: column;
            height: 150vh;
        }
        .content .board .edit-type .res img{
            margin-bottom: 20px;
        } button.save{
            width: calc(100% - 1rem);
        }
    }
    .content .edit{
        background: #6a62f5;
    }
    .content .edit{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }
    .content .edit .card{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .content .edit .card img{
        width: 120px;
        height: 120px;
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.46) 0px 3px 8px;
    }
    .content .edit .card h2{
        font-size: 20px;
        margin-top: 10px;
    }
    .content .edit .card p{
        max-width: 60%;
        text-align: center;
        margin-top: 10px;
    }
    .content .board .edit-type-form{
        height: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-items: stretch;
    }
    .content .board .edit-type-form h2{
        text-align: center;
    }
    .content .board .edit-type{
        height: 50%;
        padding: 10px ;
        display: flex;
        flex-wrap: wrap-reverse;
        align-items: center;
        justify-content: space-evenly;
    }
    .content .board .edit-type .res img{
        width: 150px;
    }
    .content .actions{
        height: 30%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    .content .actions .views span{
        display: block;
        height: 60px; width: 60px;
        background: #6a62f5;
        border-radius: 50%;
        text-align: center;
        line-height: 60px;
        color: white;
        font-weight: bold;
        box-shadow: rgba(0, 0, 0, 0.46) 0px 3px 8px;
    }
    .content .actions .views h2{
        font-size: 16px;
        margin-top: 10px;
        text-align: center;
    }
    .content .actions .delete button{
        background: none;
        color: #f56262;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        padding: 7px 15px;
        transition: .3s;
        cursor: pointer;
    }
    .content .actions .delete button:hover{
        background: #ddd;
    }
    .link{
        display: grid;
        place-items: center;
        padding: 10px 0;
    }
    .link a{
        display: inline-block;
        font-size: 18px;
        color: white;
        padding: 10px 15px;
        background-color: #6a62f5;
    }
.save{
    width: 75px;
    height: 30px;
    margin: 10px 1rem 0 0;
	border-radius: 5px;
    border: none;
	background-color: #6a62f5;
    cursor: pointer;
    font-weight: bold;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.save:hover{
    background: #ddd;
    color: #6a62f5;
}
.edit_note{
    font-size: 14px;
    font-weight: bold;
    color: #6a62f5;
    float: left;
    margin-top: 10px;
}
details {
	position: relative;
	width: 300px;
	margin-right: 1rem;
}

details[open] {
	z-index: 1;
}

summary {
    direction: ltr;
	padding: 1rem;
	cursor: pointer;
	border-radius: 5px;
	background-color: #ddd;
	list-style: none;
}

summary::-webkit-details-marker {
	display: none;
}

details[open] summary:before {
	content: '';
	display: block;
	width: 100vw;
	height: 100vh;
	background: transparent;
	position: fixed;
	top: 0;
	left: 0;
}

summary:after {
	content: '';
	display: inline-block;
	float: right;
	width: .5rem;
	height: .5rem;
	border-bottom: 1px solid currentColor;
	border-left: 1px solid currentColor;
	border-bottom-left-radius: 2px;
	transform: rotate(45deg) translate(50%, 0%);
	transform-origin: center center;
	transition: transform ease-in-out 100ms
}

summary:focus {
	outline: none;
}

details[open] summary:after {
	transform: rotate(-45deg) translate(0%, 0%);
}

ul {
    direction: ltr;
	width: 100%;
	background: #ddd;
	position: absolute;
	top: calc(100% + .5rem);
	left: 0;
	padding: 1rem;
	margin: 0;
	box-sizing: border-box;
	border-radius: 5px;
	max-height: 200px;
	overflow-y: auto;
    list-style: none;
}

li {
    direction: ltr;
	margin: 0;
	padding: 1rem 0;
	border-bottom: 1px solid #ccc;
    cursor: pointer;
    transition: .2s;
}
li:hover{
    color: #6a62f5;
    font-weight: bold;
}
li:first-child {
	padding-top: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

li:last-child {
	padding-bottom: 0;
	border-bottom: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
</style>
<body>
<%- include('../partials/header') %>
<script>
    let accepted_data = {
        user_key: "<%= data.user_key %>",
        bcard_type: "<%= data.bcard_type %>"
    }
</script>
<div class="content">
    <div class="edit">
        <div class="card">
            <img src="uploads/<%= data.logo_location %>" alt="logo of <%= data.lname %>">
            <h2><%= data.bname %></h2>
            <p><%= data.description %></p>
        </div>
    </div>
    <div class="board">
        <div class="edit-type-form">
            <h2>שנה עיצוב</h2>
            <div class="edit-type">
                <div>
                    <details class="custom-select">
                        <summary><%= data.bcard_type %></summary>
                        <ul class="list">
                            <li class="choice">Basic</li>
                            <li class="choice">Space</li>
                            <li class="choice">Innovative</li>
                        </ul>
                    </details>
                    <button class="save">שמירה</button>
                    <span class="edit_note">
                    </span>
                </div>
                <div class="res">
                    <img class="choice_res" src="imgs/<%= data.bcard_type %>-bg.svg" />
                </div>
            </div>
        </div>
        <div class="link">
            <a href="/b/<%= data.lname %>">https://digitalcard.com/b/<%= data.lname %></a>
        </div>
        <div class="actions">
            <div class="views">
                <span><%= data.views %></span>
                <h2>צפיות</h2>
            </div>
            <div class="delete">
                <button class="delete_card">
                    מחק כרטיס 
                    <i class="far fa-trash-alt"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    let new_type = 'undefined';
    document.querySelectorAll('.choice').forEach(c => {
        c.addEventListener('click', () => {
            document.querySelector('summary').innerHTML = c.innerHTML;
            document.querySelector('.choice_res').src = `imgs/${c.innerHTML.toLowerCase()}-bg.svg`;
            document.querySelector('.edit_note').innerHTML = '';
            new_type = c.innerHTML.toLowerCase();
        })
    })
    document.querySelector('.save').addEventListener('click', () => {
        if(new_type == 'undefined' || new_type == accepted_data.bcard_type) {
            document.querySelector('.edit_note').innerHTML = 'אין שינויים לבצע';
        } else {
            fetch('/editCard', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    user_key: accepted_data.user_key,
                    bcard_type: new_type
                })
            }).then(data => data.json())
            .then(data => {
                document.querySelector('.edit_note').innerHTML = data;
            })
        }
    })
    document.querySelector('.delete_card').addEventListener('click', () => {
        let del = confirm('למחוק את הכרטיס?');
        if(del == true) {
            window.location.href = `/deleteCard/${accepted_data.user_key}`;
        }
    })
    </script>
<%- include('../partials/bottom') %>