<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/top') %>
    <meta name="robots" content="noindex">
    <link rel="stylesheet" href="../css/dashboard.css">
    <title>D&M Bcard - Dashboard</title>
</head>
<body>
<div class="popup-card hide">
    <article>
        <h2>ביקארד חדש נולד!</h2>
    </article>
    <p>
        זהו פאנל הניהול שלכם, כאן תוכל לראות תהליכים על הכרטיס שלכם, לערוך פרטים ולקבל עדכונים חשובים. 
        <br>
        <b>הקישור לכרטיס שלכם נמצא בתחתית העמוד!</b>
    </p>
    <button id="close-popup">הבנתי, סגור</button>
</div>
<%- include('../partials/header') %>
<div class="content <%= typeof firstime !== 'undefined' ? 'blur' : '' %>">
    <div class="edit">
        <div class="edit-colors">
            <div class="colors">
                <div class="color">
                    <input type="color" id="color" name="color">
                    <label for="color">טקסט</label>
                </div>
                <div class="color">
                    <input type="color" id="bg" name="bg">
                    <label for="bg">רקע</label>
                </div>
                <div class="color">
                    <input type="color" id="special-bg" name="special-bg">
                    <label for="special-bg">רקע משני</label>
                </div>
                <div class="color">
                    <input type="color" id="special-color" name="special-color">
                    <label for="special-color">טקסט משני</label>
                </div>
            </div>
            <div class="res">
                <div class="example">
                    <div class="regular">
                        <span><%= data.bname %></span>
                    </div>
                    <div class="special">
                        <span><%= data.bname %></span>
                    </div>
                </div>
                <div class="btn">
                    <button id="change-colors">שמור</button>
                    <span class="edit_note" id="edit_note_colors"></span>
                </div>
            </div>
        </div>
        <img style="border-radius: 10px;" src="https://chart.googleapis.com/chart?cht=qr&chs=125x125&chl=http://dam-bcard.com/b/<%= data.lname %>" />
    </div>
    <div class="board">
        <div class="edit-type-form">
            <div class="edit-type">
                <div>
                    <details class="custom-select">
                        <summary><%= data.bcard_type %></summary>
                        <ul class="list">
                            <li class="choice">Basic</li>
                            <li class="choice">Innovative</li>
                            <li class="choice">Classic</li>
                            <li class="choice">Smooth</li>
                        </ul>
                    </details>
                    <button class="save">שמירה</button>
                    <span class="edit_note" id="edit_note_bcard">
                    </span>
                </div>
                <div class="res">
                    <img class="choice_res" src="imgs/<%= data.bcard_type %>-bg.svg" />
                </div>
            </div>
        </div>
        <div class="link">
            <a id="link" href="/b/<%= data.lname %>">https://dam-bcard.com/b/<%= data.lname %></a>
            <button id="copy-lname" onclick="copy('<%= data.lname %>')"><i class="far fa-copy"></i></button>
        </div>
        <div class="actions">
            <div class="views">
                <span><i class="far fa-eye"></i></span>
                <h2><%= data.views %></h2>
            </div>
            <div class="delete">
                <button class="delete_card">
                    מחק כרטיס 
                    <i class="far fa-trash-alt"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.2/FileSaver.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.2/FileSaver.js"></script>
<script>
    let new_type = 'undefined';
    let choise = document.querySelectorAll('.choice');
    let accepted_data = {
        user_key: "<%= data.user_key %>",
        bcard_type: "<%= data.bcard_type %>",
        logo_location: "<%= data.logo_location %>",
        data_colors: JSON.parse('<%-JSON.stringify(data.colors)%>')
    }
    let colors = {
        color_i: document.querySelector('#color'),
        bg_i: document.querySelector('#bg'),
        special_color_i: document.querySelector('#special-color'),
        special_bg_i: document.querySelector('#special-bg'),
    };

    function init(){
        if(accepted_data.data_colors.bg.includes('rgb')) accepted_data.data_colors.bg = rgb2hex(accepted_data.data_colors.bg)
        if(accepted_data.data_colors.bg.length == 4) accepted_data.data_colors.bg = hex3(accepted_data.data_colors.bg)

        if(accepted_data.data_colors.color.includes('rgb')) accepted_data.data_colors.color = rgb2hex(accepted_data.data_colors.color)
        if(accepted_data.data_colors.color.length == 4) accepted_data.data_colors.color = hex3(accepted_data.data_colors.color)

        if(accepted_data.data_colors.special_color.includes('rgb')) accepted_data.data_colors.special_color = rgb2hex(accepted_data.data_colors.special_color)
        if(accepted_data.data_colors.special_color.length == 4) accepted_data.data_colors.special_color = hex3(accepted_data.data_colors.special_color)

        if(accepted_data.data_colors.special_bg.includes('rgb')) accepted_data.data_colors.special_bg = rgb2hex(accepted_data.data_colors.special_bg)
        if(accepted_data.data_colors.special_bg.length == 4) accepted_data.data_colors.special_bg = hex3(accepted_data.data_colors.special_bg)

        colors.color_i.value = accepted_data.data_colors.color;
        colors.bg_i.value = accepted_data.data_colors.bg;
        colors.special_color_i.value = accepted_data.data_colors.special_color;
        colors.special_bg_i.value = accepted_data.data_colors.special_bg;
        updateColors()

    }
    const rgb2hex = (rgb) => `#${rgb.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/).slice(1).map(n => parseInt(n, 10).toString(16).padStart(2, '0')).join('')}`
    function hex3(value){
        return value.split("").map((item) => {
                if(item == "#"){return item}
                    return item + item;
            }).join("")
    }
    init()

    choise.forEach(c => {
        if(c.innerHTML.toLowerCase() == accepted_data.bcard_type) c.hidden = true;
    })
    choise.forEach(c => {
        c.addEventListener('click', () => {
            document.querySelector('summary').innerHTML = c.innerHTML;
            choise.forEach(c => {
                c.hidden = false;
            });
            c.hidden = 'true';
            document.querySelector('details').open = false;
            document.querySelector('.choice_res').src = `imgs/${c.innerHTML.toLowerCase()}-bg.svg`;
            document.querySelector('#edit_note_bcard').innerHTML = '';
            new_type = c.innerHTML.toLowerCase();
        })
    })
    document.querySelectorAll('input[type="color"]')
    .forEach(color => {
            color.addEventListener('input', () => updateColors())
        })
    function color_values(){
        return {
            color: colors.color_i.value,
            bg: colors.bg_i.value,
            special_color: colors.special_color_i.value,
            special_bg: colors.special_bg_i.value,
        }
    }
    function updateColors(){
        document.querySelector('.regular').style.backgroundColor = color_values().bg;
        document.querySelector('.regular>span').style.color = color_values().color;
        document.querySelector('.special').style.backgroundColor = color_values().special_bg;
        document.querySelector('.special>span').style.color = color_values().special_color;
    }
    document.querySelector('#change-colors').addEventListener('click', () => {
        fetch('/editColors', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    user_key: accepted_data.user_key,
                    colors: {
                        'color': colors.color_i.value,
                        'bg': colors.bg_i.value,
                        'special_color': colors.special_color_i.value,
                        'special_bg': colors.special_bg_i.value,
                    },
                })
            }).then(res => res.json()).then(data => {
                document.querySelector('#edit_note_colors').innerHTML = data;
                setTimeout(() => document.querySelector('#edit_note_colors').innerHTML = '', 3500)
            })
    })
    document.querySelector('.save').addEventListener('click', () => {
        if(new_type == 'undefined' || new_type == accepted_data.bcard_type) {
            document.querySelector('#edit_note_bcard').innerHTML = 'אין שינויים לבצע';
        } else {
            fetch('/editCard', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    user_key: accepted_data.user_key,
                    bcard_type: new_type
                })
            })
            .then(data => data.json())
            .then((data) => {
                if(data !== "כרטיס לא נמצא") {
                    accepted_data.bcard_type = data.bcard_type;
                    accepted_data.data_colors = data.data_colors;
                    init()
                }
                document.querySelector('#edit_note_bcard').innerHTML = data.msg;
            })
        }
    })
    document.querySelector('.delete_card').addEventListener('click', () => {
        let del = confirm('למחוק את הכרטיס?');
        if(del == true) {
            window.location.href = `/deleteCard/${accepted_data.user_key}/${accepted_data.logo_location}`;
        }
    })
    function copy(lname) {
        copy_text(`http://dam-bcard.com/b/${lname}`)

        document.getElementById('copy-lname').innerHTML = '<i class="fas fa-check-circle"></i>';
        setTimeout(() => {
            document.getElementById('copy-lname').innerHTML = '<i class="far fa-copy"></i>'
        }, 10000)
    }
    function copy_text(link){
        const el = document.createElement('textarea');
        el.value = link;
        document.body.appendChild(el);
        el.select();
        document.execCommand('copy');
        document.body.removeChild(el);
    }

    document.querySelector('#close-popup').addEventListener('click', () => {
        document.querySelector('.content').classList.remove('blur');
        document.querySelector('.popup-card').classList.add('hide')
    })

    let url_str = new URL(location.href);
    if((url_str.searchParams.get("firstime")) == 'true') {
        document.querySelector('.content').classList.add('blur');
        document.querySelector('.popup-card').classList.remove('hide')
    }
    </script>
<%- include('../partials/bottom') %>