<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/top') %>
    <meta name="robots" content="noindex">
    <link rel="stylesheet" href="../css/dashboard.css">
</head>
<body>
<%- include('../partials/header') %>
<script>
    let accepted_data = {
        user_key: "<%= data.user_key %>",
        bcard_type: "<%= data.bcard_type %>"
    }
</script>
<div class="content">
    <div class="edit">
        <div class="card">
            <img src="uploads/<%= data.logo_location %>" alt="logo of <%= data.lname %>">
            <h2><%= data.bname %></h2>
            <p><%= data.description %></p>
        </div>
    </div>
    <div class="board">
        <div class="edit-type-form">
            <h2>שנה עיצוב</h2>
            <div class="edit-type">
                <div>
                    <details class="custom-select">
                        <summary><%= data.bcard_type %></summary>
                        <ul class="list">
                            <li class="choice">Basic</li>
                            <li class="choice">Space</li>
                            <li class="choice">Innovative</li>
                        </ul>
                    </details>
                    <button class="save">שמירה</button>
                    <span class="edit_note">
                    </span>
                </div>
                <div class="res">
                    <img class="choice_res" src="imgs/<%= data.bcard_type %>-bg.svg" />
                </div>
            </div>
        </div>
        <div class="link">
            <a href="/b/<%= data.lname %>">https://dam-bcard.com/b/<%= data.lname %></a>
            <button id="copy-lname" onclick="copy('<%= data.lname %>')"><i class="far fa-copy"></i></button>
        </div>
        <div class="actions">
            <div class="views">
                <span><i class="far fa-eye"></i></span>
                <h2><%= data.views %></h2>
            </div>
            <div class="delete">
                <button class="delete_card">
                    מחק כרטיס 
                    <i class="far fa-trash-alt"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    let new_type = 'undefined';
    document.querySelectorAll('.choice').forEach(c => {
        c.addEventListener('click', () => {
            document.querySelector('summary').innerHTML = c.innerHTML;
            document.querySelector('details').open = false;
            document.querySelector('.choice_res').src = `imgs/${c.innerHTML.toLowerCase()}-bg.svg`;
            document.querySelector('.edit_note').innerHTML = '';
            new_type = c.innerHTML.toLowerCase();
        })
    })
    document.querySelector('.save').addEventListener('click', () => {
        if(new_type == 'undefined' || new_type == accepted_data.bcard_type) {
            document.querySelector('.edit_note').innerHTML = 'אין שינויים לבצע';
        } else {
            fetch('/editCard', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    user_key: accepted_data.user_key,
                    bcard_type: new_type
                })
            }).then(data => data.json())
            .then(data => {
                document.querySelector('.edit_note').innerHTML = data;
            })
        }
    })
    document.querySelector('.delete_card').addEventListener('click', () => {
        let del = confirm('למחוק את הכרטיס?');
        if(del == true) {
            window.location.href = `/deleteCard/${accepted_data.user_key}`;
        }
    })
    function copy(lname) {
        navigator.clipboard.writeText(`http://dam-bcard.com/b/${lname}`)
        document.getElementById('copy-lname').innerHTML = '<i class="fas fa-check-circle"></i>';
        setTimeout(() => {
            document.getElementById('copy-lname').innerHTML = '<i class="far fa-copy"></i>'
        }, 10000)
    }
    </script>
<%- include('../partials/bottom') %>